<!-- Start Account Section -->
<div class="section-modal modal fade" id="account-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h3>Aanmelden</h3>
                    <p>Meld je aan of login om gebruik te maken van MimeMe!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form name="login" id="loginForm" novalidate>
                        <div class="row">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Je Instagram gebruikersnaam *" id="login-name" required="required" rel="Vul je naam in om verder te gaan.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Wachtwoord *" id="login-password" required="required" rel="Vul je wachtwoord in om verder te gaan.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div class="alert-success" id="login-success"></div>
                                <button type="submit" id="login-submit" class="btn btn-primary">Inloggen</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="section-title text-center">
                            <h3>Aanmelden met Instagram</h3>
                            <p>Ik ben nieuw en heb nog geen account! Meld je dan hieronder aan.</p>
                        </div>
                    </div>
                    <form name="register" id="registerForm" novalidate>
                        <div class="row">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Je Instagram gebruikersnaam *" id="register-name" required="required" rel="Vul je naam in om verder te gaan.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Wachtwoord *" id="register-password" required="required" rel="Vul je wachtwoord in om verder te gaan.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Wachtwoord bevestigen *" id="register-confirm-password" required="required" rel="Vul je wachtwoord in om verder te gaan.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div class="alert-success" id="register-success"></div>
                                <button type="submit" id="register-submit" class="btn btn-primary"><i class="fa fa-instagram"></i> Aanmelden met Instagram</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Portfolio Section -->