<!-- Start Contact Section -->
<div class="section-modal modal fade contact" id="contact-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h3>Contacteer de ontwikkelaar</h3>
                    <p>Heb jij tips of fouten gevonden in de website. E-mail de ontwikkelaar dan gerust, zodat hij de applicatie kan verbeteren.</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="footer-contact-info">
                        <h4>Contact informatie</h4>
                        <ul>
                            <li><strong>E-mail :</strong> 0882275@hr.nl</li>
                            <li><strong>Mobiel :</strong> 06 29571446</li>
                            <li><strong>Web :</strong> arnoldmolenaar.nl</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-social text-center">
                        <ul>
                            <li><a href="https://twitter.com/Arnoldp1991"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/arnoldp1991"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/profile/view?id=326212783&trk=hp-identity-name"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://plus.google.com/104376646143186128871/posts"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="http://arnoldpmolenaar.tumblr.com/"><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-contact-info">
                        <h4>Bechikbaar op</h4>
                        <ul>
                            <li><strong>Ma-Wo :</strong> 9 tot 5</li>
                            <li><strong>Do-Vr :</strong> 12 tot 10</li>
                            <li><strong>Zaterdag :</strong> Closed</li>
                            <li><strong>Zondag :</strong> Closed</li>
                        </ul>
                    </div>
                </div>

            </div><!--/.row -->
            <div class="row" style="padding-top: 80px;">
                <div class="col-md-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="contact-name" placeholder="Je Naam *" name="name" required="required" rel="Vul alstublieft uw naam in.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="contact-email" placeholder="Je Email *" name="email" required="required" rel="Vul alstublieft uw emailadres in.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="contact-subject" placeholder="Onderwerp *" name="subject" required="required" rel="Vul alstublieft uw onderwerp in.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Je Bericht *" name="message" id="contact-message" required="required" rel="Vul alstublieft uw bericht in."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="mail-success"></div>
                                <button type="submit" class="btn btn-primary">Verstuur bericht</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Contact Section -->