<!-- Start Logo Section -->
<section id="logo-section" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo text-center">
                    <h1>MimeMe</h1>
                    <span>Imitate the perfection</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Logo Section -->


<!-- Start Main Body Section -->
<div class="mainbody-section text-center">
    <div class="container">
        <div class="row">

            <div class="col-md-3">

                <div class="menu-item blue">
                    <a href="#task-modal" data-toggle="modal">
                        <i class="fa fa-magic"></i>
                        <p>Opdrachten</p>
                    </a>
                </div>

                <div class="menu-item green">
                    <% if(typeof userModel == 'undefined') { %>
                    <a href="#account-modal" data-toggle="modal">
                        <i class="fa fa-user"></i>
                        <p>Aanmelden</p>
                    </a>
                    <% } else { %>
                    <a id="destroy-account" data-toggle="modal">
                        <i class="fa fa-user"></i>
                        <p>Welkom <%= userModel.instagramName %>!<br> Uitloggen?</p>
                    </a>
                    <% } %>
                </div>

            </div>

            <div class="col-md-6">

                <!-- Start Carousel Section -->
                <div class="home-slider">
                    <div id="carousel-example-generic" class="carousel slide">

                        <div class="carousel-inner map">
                            <div id="map"></div>
                        </div>

                    </div>
                </div>
                <!-- Start Carousel Section -->

            </div>

            <div class="col-md-3">

                <div class="menu-item light-red">
                    <a href="#contact-modal" data-toggle="modal">
                        <i class="fa fa-envelope-o"></i>
                        <p>Contact</p>
                    </a>
                </div>

                <div class="menu-item light-orange responsive-2">
                    <a href="#ranking-modal" data-toggle="modal">
                        <i class="fa fa-users"></i>
                        <p>Leaderboards</p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Main Body Section -->

<!-- Start Copyright Section -->
<div class="copyright text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>Created by <a href="http://www.arnoldmolenaar.nl" target="_blank">Arnold Molenaar</a> copyright 2015</div>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright Section -->