<!-- Start Leaderboards Section -->
<div class="section-modal modal fade" id="ranking-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h3>LeaderBoards</h3>
                    <p>De leaderboards wordt berkent op hoe veel je anticipeerd bij alle opdrachten</p>
                </div>
            </div>
            <div class="row">
                <div class="skill-shortcode">

                    <!-- Progress Bar -->
                    <% _.each(users.models, function(user){ %>
                    <div class="skill">
                        <p><%= user.attributes.instagramName.replace('_', ' ') %></p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"  data-percentage="<%= (parseInt(user.attributes.rank) / parseInt(taskCount)) * 100 %>">
                                <span class="progress-bar-span" ><%= (parseInt(user.attributes.rank) / parseInt(taskCount)) * 100 %>%</span>
                                <span class="sr-only"><%= (parseInt(user.attributes.rank) / parseInt(taskCount)) * 100 %>% in de leaderboards</span>
                            </div>
                        </div>
                    </div>
                    <% }) %>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Start Leaderboards Section -->