<!-- Start Tasks Section -->
<div class="section-modal modal fade" id="task-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>

        <div class="container">
            <% if(typeof userModel != 'undefined') { %>
            <div class="row">
                <div class="section-title text-center">
                    <h3>Nieuwe Opdracht maken</h3>
                    <p>Maak hier een nieuwe opdracht aan om andere gebruikers mee uit te dagen. De opdracht zal meteen bij alle andere opdrachten openbaar geplaatst worden!</p>
                </div>
            </div>
            <div class="row">
                <form name="create-task" id="createTaskForm" novalidate>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="De titel van je opdracht *" id="task-name" required="required" rel="Vul de titel in om verder te gaan.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="De omschrijving van de opdracht *" id="task-description" required="required" rel="schrijf een omschrijving om verder te gaan."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="#hashtag *" id="task-hashtag" required="required" rel="vul een hashtag in voor instagram bijv. #MimeMeSelfieMetJeHuisdier">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div class="alert-success" id="create-task-success"></div>
                            <button type="submit" id="task-submit" class="btn btn-primary">Opdracht maken</button>
                        </div>
                    </div>
                </form>
            </div>
            <% } %>

            <div class="row">
                <div class="section-title text-center">
                    <h3>Opdrachten van MimeMe</h3>
                    <p>Bekijk hier alle opdrachten die gebruikers in MimeMe gemaakt hebben. Meld je aan en maak je eigen opdracht!</p>
                </div>
            </div>
            <% if(typeof tasks != 'undefined') { %>
            <div id="task-rows" class="row">
                <% _.each(tasks, function(task) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="task">
                        <div id="<%= task.hashtag.replace('#', '') %>" class="google-maps" style="width: 500px; height: 500px;"></div>
                        <span class="task-details">
                            <h4><%= task.title %></h4>
                            <div class="designation"><%= task.description %></div>
                            <button id="open-task" class="btn btn-primary">Bekijk de opdracht</button>
                        </span>
                    </div>
                </div>
                <% }) %>

            </div><!-- /.row -->
            <% } %>
        </div>

    </div>
</div>
<!-- End Tasks Section -->